# S3 configuration (do NOT commit real credentials to version control)
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=rizyyn
S3_ENDPOINT=https://rizyyn.s3.nevaobjects.id
S3_BASE_URL=https://rizyyn.s3.nevaobjects.id
S3_REGION=us-east-1
PORT=3000
